* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container > .square {
    width: 25px;
    height: 25px;
    border: 1px solid #388697;
    margin: 0.5px;
}


.container > div:nth-child(17n + 1) {
    width: 100%;
    border: 0;
    height: 0;
}
